

* {
    border: 1px white solid;
}


:root {
    --orange1: #F45910;
    --darkgrey: #333333;
    --lightgrey: #CCCCCC;
    --beige: #EDE4C6;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange1);
    margin: 0;
    height: 100%;
}

header {
    height: 100px;
}

h2 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--orange1);
    font-size: 35px;
}

h3 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--lightgrey);
    font-size: 17px;
}

footer {
    display: flex;
    height: 100px;
}


.tr-808-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    background-color: var(--darkgrey);
    border-radius: 20px;
    padding: 5px;


}

.top-half-container {
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 5px;
}

.bottom-half-container {
    display: flex;
    flex: 1;
    padding: 5px;
}

.top-left-container {
    display: flex;
    flex-direction: ;
    flex: 1;
}

.top-right-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0px 5px;
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.sample-mixer-container {
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: 5px;
    padding: 5px;
}

.sample-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sample-name {  
    background-color: var(--beige);
    color: var(--grey);
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 12px;
    padding: 5px;
}

.instrument-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;   
}

#orange-line {
    width: 100%;
    height: 2px;
    background-color: var(--orange1);
}




.knob-surround {
    position: relative;
    background-color: grey;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    border: solid 0.25em #0e0e0e;
    margin: 5em auto;
    background: #181818;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
    background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
    background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
    background: -o-linear-gradient(#131313, #1d1d1d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
    -webkit-box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
  }
  .knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
  }
  .knob:before {
    content: "";
    position: absolute;
    bottom: 19%;
    left: 19%;
    width: 3%;
    height: 3%;
    background-color: #a8d8f8;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0.4em 0 #79c3f4;
    -moz-box-shadow: 0 0 0.4em 0 #79c3f4;
    box-shadow: 0 0 0.4em 0 #79c3f4;
  }
  .min,
  .max {
    display: block;
    font-family: "Varela Round", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 70%;
    position: absolute;
    opacity: 0.5;
  }
  .min {
    bottom: 1em;
    left: -2.5em;
  }
  .max {
    bottom: 1em;
    right: -2.5em;
  }
  .tick {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: visible;
  }
  .tick:after {
    content: "";
    width: 0.08em;
    height: 0.6em;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -1.5em;
    left: 50%;
    -webkit-transition: all 180ms ease-out;
    -moz-transition: all 180ms ease-out;
    -o-transition: all 180ms ease-out;
    transition: all 180ms ease-out;
  }
  .activetick:after {
    background-color: #a8d8f8;
    -webkit-box-shadow: 0 0 0.3em 0.08em #79c3f4;
    -moz-box-shadow: 0 0 0.3em 0.08em #79c3f4;
    box-shadow: 0 0 0.3em 0.08em #79c3f4;
    -webkit-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    -o-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
  }
  h1 {
    font-weight: normal;
    margin: 2em 0;
  }
  p {
    line-height: 150%;
    max-width: 36em;
    margin: 1em auto;
  }
  a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px solid #444;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }
  a:hover,
  a:focus {
    color: #eee;
  }
  
  .knob {
   
  }