


:root {
    --orange1: #F45910;
    --darkgrey: #333333;
    --lightgrey: #CCCCCC;
    --beige: #EDE4C6;
    --red: #FF0000;
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange1);
    margin: 0;
    height: 100%;
}

header {
    height: 100px;
}

h2 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--orange1);
    font-size: 35px;
}

h3 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--lightgrey);
    font-size: 17px;
}

footer {
    display: flex;
    height: 100px;
}


.tr-808-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    background-color: var(--darkgrey);
    border-radius: 20px;
    padding: 5px;
}

.top-half-container {
    display: flex;
    flex-direction: row;
    flex: 2;
    margin: 5px;
    border-top: 4px solid var(--lightgrey);
}

.bottom-half-container {
    display: flex;
    flex: 1;
    margin: 5px;
}

.top-left-container {
    display: flex;
    flex-direction: ;
    flex: 1;
}

.top-right-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: ;
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.sample-mixer-container {
    display: flex;
    flex-direction: row;
    flex: 3;
    gap: ;
    padding: 5px;
    
}

.sample-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: ;
    border-right: 1px solid var(--lightgrey);
    border-left: 2px solid var(--lightgrey);
    width: 65px;

}

.sample-name {  
    background-color: var(--beige);
    color: var(--grey);
    border-radius: 5px;
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 12px;
    padding: 5px 0px;
    margin: 0 2px;
}

.instrument-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;   
}

#orange-line {
    width: 100%;
    height: 2px;
    background-color: var(--orange1);
}

#mixer-text {
    color: var(--lightgrey);
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-size: 10px;
}





.knob-surround {
    position: relative;
    background-color: var(--red);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 0.15em #0e0e0e;
    margin: 5em auto;
    background: var(--red);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
    -webkit-box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
  }
  .knob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
  }
  .knob:before {
    content: "";
    position: absolute;
    bottom: 19%;
    left: 19%;
    width: 17%;
    height: 17%;
    background-color: black;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0.4em 0 #79c3f4;
    -moz-box-shadow: 0 0 0.4em 0 #79c3f4;
    box-shadow: 0 0 0.4em 0 #79c3f4;
  }
  .min,
  .max {
    display: block;
    font-family: "Varela Round", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 70%;
    position: absolute;
    opacity: 0.5;
  }
  .min {
    bottom: 1em;
    left: -2.5em;
  }
  .max {
    bottom: 1em;
    right: -2.5em;
  }
  .tick {
    position: absolute;
    font-size: 7px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: visible;
  }
  .tick:after {
    content: "";
    width: 0.08em;
    height: 0.6em;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -1.5em;
    left: 50%;
    -webkit-transition: all 180ms ease-out;
    -moz-transition: all 180ms ease-out;
    -o-transition: all 180ms ease-out;
    transition: all 180ms ease-out;
  }

