/*
* {
  border: 1px red solid;
}
*/

@font-face {
  font-family: ITC Serif Gothic W03;
  src: url(/fonts/ITCSerifGothicW03.ttf);
}

:root {
    --orange1: #F15A24;
    --orange2: #EA7F13;
    --darkgrey: #333333;
    --midgrey: #4D4D4D;
    --lightgrey: #CCCCCC;
    --beige: #EDE4C6;
    --red: #FF0000;
    --yellow: rgb(234, 178, 16);
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--orange1); 
    margin: 0;
    height: 100%;
}

header {
    height: 50px;
}

h2 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--orange1);
    font-size: 35px;
    margin-bottom: 5px;
}

h3 {
    font-family: "ITC Serif Gothic W03", Helvetica, Arial, sans-serif;
    color: var(--lightgrey);
    font-size: 17px;
    margin-top: 5px;
}

footer {
    display: flex;
    height: 50px;
}


.tr-808-container {
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 800px;
    background-color: var(--darkgrey);
    border-radius: 20px;
    padding: 15px;
}

.top-half-container {
    display: flex;
    flex-direction: row;
    flex: 5;
    margin: 5px;
    border-top: 4px solid var(--lightgrey);
}

.bottom-half-container {
    display: flex;
    flex: 3;
    margin: 5px;
    border-top: 4px solid var(--lightgrey);
}

.top-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-right: 4px solid var(--lightgrey);
    padding: 30px 0px;
    margin-top: 5px;
}

.top-right-container {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.middle-container {
  display: flex;
  margin: 10px 0px;
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    flex: .66;
}

.bottom-right-container {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.sample-mixer-container {
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: space-between;
    
}

.sample-channel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--lightgrey);
    width: 80px;
    height: 350px;
    justify-content: space-between;
    margin-top: 5px;
}

.gain-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 2;
}

.tone-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 2;
}

.tempy-tone-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 2;
}

.sample-name {  
    background-color: var(--beige);
    color: var(--grey);
    border-radius: 5px;
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 7px 3px;
    width: 80%;
    text-align: center;
    
}

.sample-name b {
  font-size: 14px;
}

.sample-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1.4;
}

.sample-toggle-btn {
  width: 15px;
  height: 30px;
  background-color: var(--lightgrey);
  border-radius: 30px;
  padding: 3px;
}

.sample-toggle-btn.active {
  background-color: var(--yellow);
}

.sample-toggle-btn.active > .sample-inner-circle {
  margin-top: 0px;
}

.sample-inner-circle {
  margin-top: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--darkgrey);
  border-radius: 50%;
}

.instrument-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 14;
    margin-left: 10px;
    padding-right: 50px;
}

#orange-line {
    width: 100%;
    height: 2px;
    background-color: var(--orange1);
}

#grey-line {
    margin: 5px;
    width: 100%;
    height: 2px;
    background-color: var(--darkgrey);
}

.master-volume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    border-right: 2px solid var(--lightgrey);
    margin-top: -10px;
    padding-top: 10px;
    padding-right: 10px;
}

.master-volume-container p {
    color: var(--lightgrey);
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.master-volume-knob {
  background-color: var(--midgrey);
  width: 60px;
  height: 60px;
  border: black 2px solid;
  border-radius: 80px;
  margin-top: 20px
}

#mixer-text {
    color: var(--lightgrey);
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

  .flex-shapes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }

  .row1, .row2, .row3, .row4  {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    justify-content: flex-start;
    
  }

  #smallnote {
    flex-grow: 1;
    padding-left: 20px;
  }

  #mediumnote {
    flex-grow: 6.2;
  }

  #largenote {
    flex-grow: 9.6;
  }


  .flex-shapes-container button {
    display: flex;
    justify-content: space-between;
    background-color: var(--lightgrey);
    border-radius: 5px;
    flex: auto;
    margin: 1px 4px;
    height: 20px;
    border: none;
    flex-grow: 10;
  }

  .buttons-section {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }

  .button-container {
    display: flex;
    flex-direction: column;  
  }

  .button-container p {
    color: var(--beige);
    font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight:900;
    height: 5px;
  }

  .samplebtn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 60px;
    border-radius: 5px;
    border: none;
    transition: all 0.1s ease-in-out;
}

#red-blink {
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #570000;
  border: 5px solid rgba(116, 116, 116, 0.5);

}

.samplebtn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px;
}

.samplebtn:active {
  transform: scale(1);
}

.pre-scale-container {
  display: flex;
  flex: .33;
  justify-content: center;
  align-items: center;
}

.pre-scale-container p {
  text-align: center;
  font-size: 10px;
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: var(--lightgrey)
}

#s1, #s2, #s3, #s4 {
  background-color: var(--orange1);
}

#s5, #s6, #s7, #s8 {
  background-color: var(--orange2);
}

#s9, #s10, #s11, #s12 {
  background-color: var(--yellow);
}

#s13, #s14, #s15, #s16 {
  background-color: var(--lightgrey);
}

#variation {
  font-size: 10PX;
  flex:2
}

.variation-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.variation-toggle-container p {
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

.A-B {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: -20px;
}

.A-B p {
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.pattern-toggle-btn {
  width: 80px;
  height: 20px;
  background-color: var(--darkgrey);
  border-radius: 30px;
  padding: 5px;
}

.pattern-toggle-btn.active {
  background-color: var(--orange2);
}

.pattern-toggle-btn.active > .pattern-inner-circle {
  margin-left: 60px;
}

.pattern-inner-circle {
  width: 20px;
  height: 20px;
  background-color: var(--lightgrey);
  border-radius: 50%;
}

.stop-start-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightgrey);
    border-radius: 5px;
    height: 100%;
    margin-top: 10px;
    flex: 1;
    padding: 0px 5px;

}

#start-stop {
    background-color: var(--yellow);
    border-width: 5px;
    font-size: 10px;
    width: 75%;
    height: 30%;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.1s ease-in-out;
}

#start-stop:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px;
}

#start-stop:active {
  transform: scale(1);
}

#start-stop p {
  margin: -2px;
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-size: 12px;

}

#start-stop hr {
  border: var(--darkgrey) 1px solid;
}



.pattern-instrument-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pattern-write-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern-write-knob {
  background-color: var(--midgrey);
  width: 60px;
  height: 60px;
  border: black 2px solid;
  border-radius: 80px;
}

.pattern-write-container p {
  text-align: center;
  font-size: 9px;
  color: var(--beige);
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  border: solid 1px var(--beige);
  padding: 1px 5px;
}

.instrument-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instrument-selector-container p {
  text-align: center;
  font-size: 9px;
  color: var(--beige);
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  padding: 2px 5px;
}

.tempo-container {
  display: flex;
  flex-direction: column;
}

.tempo-knob {
  background-color: var(--midgrey);
  width: 130px;
  height: 130px;
  border: black 2px solid;
  border-radius: 130px;
}

.tempo-container p {
  text-align: center;
  font-size: 10px;
  color: var(--lightgrey);
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
}

.instrument-selector-knob {
  background-color: var(--midgrey);
  width: 60px;
  height: 60px;
  border: black 2px solid;
  border-radius: 80px;
  
}

.facing-direction {
  width: 12px;
  height: 5px;
  rotate: 45deg;
  background-color: var(--orange1);
  margin: 10px;
}

.bottom-nums-container {
  display: flex;
  align-items: center;
  background-color: var(--lightgrey);
  width: 98%%;
  height: 40px;
  border-radius: 5px;
  margin: -20px 5px 0px 5px;
}

.bassic-rhythm {
  flex: 1;
  justify-content: center;
}

.bassic-rhythm p {
  text-align: center;
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin: 0px 80px;
  padding: 3px 0px;
}

.bottom-nums {
  display: flex;
  flex:4;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--darkgrey);
  font-family: "Helvetica LT W04", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.bottom-nums p {
  width: 40px;
  text-align: center;
}


.gain-knob-surround {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 0.2em #0e0e0e;
  background: var(--orange1);
}

.tone-knob-surround {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 0.2em #0e0e0e;
  background: var(--lightgrey);
}

.decay-knob-surround {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 0.2em #0e0e0e;
  background: var(--lightgrey);
}



.knob {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 10;

}
.knob:before {
  content: "";
  position: absolute;
  bottom: 19%;
  left: 19%;
  width: 17%;
  height: 17%;
  background-color: black;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.4em 0 #79c3f4;
  -moz-box-shadow: 0 0 0.4em 0 #79c3f4;
  box-shadow: 0 0 0.4em 0 #79c3f4;
}

.min,
.max {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 70%;
  position: absolute;
  opacity: 0.5;
}

.min {
  bottom: 1em;
  left: -2.5em;
}

.max {
  bottom: 1em;
  right: -2.5em;
}

.tick {
  position: absolute;
  font-size: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: visible;
}

.tick:after {
  content: "";
  width: 0.08em;
  height: 0.6em;
  background-color: var(--lightgrey);
  position: absolute;
  top: -1.5em;
  left: 50%;
  -webkit-transition: all 180ms ease-out;
  -moz-transition: all 180ms ease-out;
  -o-transition: all 180ms ease-out;
  transition: all 180ms ease-out;
}

/* blinking light */

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
